<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469516225198-bd34cj7rlu3s7kmrs359gvjd9fdcur3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469516225198-bd34cj7rlu3s7kmrs359gvjd9fdcur3h</string>
	<key>API_KEY</key>
	<string>AIzaSyA-yBgnxDvnOox2cuUkdEWLmCYbRxX6yXs</string>
	<key>GCM_SENDER_ID</key>
	<string>469516225198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.osu.ye.877.MarketPlaceProject</string>
	<key>PROJECT_ID</key>
	<string>marketplace-bdf79</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-bdf79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469516225198:ios:8708e9858e1477eb86fb3f</string>
	<key>DATABASE_URL</key>
	<string>https://marketplace-bdf79.firebaseio.com</string>
</dict>
</plist>